certifi==2018.4.16
chardet==3.0.4
Click==7.0
Flask==1.1.1
gunicorn==19.9.0
idna==2.7
isodate==0.6.0
itsdangerous==1.1.0
Jinja2==2.10.1
MarkupSafe==1.1.1
mysql==0.0.2
mysql-connector-python==8.0.17
mysqlclient==1.4.4
numpy==1.15.4
oauthlib==3.1.0
protobuf==3.18.3
pyparsing==2.4.5
PySocks==1.7.0
pywikibot==3.0.20180823
rdflib==4.2.2
requests==2.22.0
requests-oauthlib==1.2.0
six==1.12.0
SPARQLWrapper==1.8.4
tweepy==3.8.0
urllib3==1.23
utils==0.9.0
Werkzeug==0.15.5

